{% extends "posts/home.html" %}
{%  load crispy_forms_tags %}

{% block content %}
    <h1>Dodaj kategorię</h1>
    <form method="post">
    {%  csrf_token %}
{#    <p>#}
{#        <label for="p_title">Title</label>#}
{#        <input type="text" id="p_title" name="title">#}
{#    </p>#}
{#        <textarea id="p_content" name="content" rows="4" cols="50">Content</textarea>#}
        {{ form|crispy }}

    <input type="submit" class="btn btn-success" value="Create">
    </form>



{% endblock %}